
@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf')
  }
  @font-face {
    font-family: 'Poppins Bold';
    src: url('../Poppins/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../Poppins/Poppins-ExtraBold.ttf');
  }
  @font-face {
    font-family: 'Poppins SemiBold';
    src: url('../Poppins/Poppins-SemiBold.ttf');
  }
  @font-face{
    font-family: 'Poppins Light';
    src: url('../Poppins/Poppins-Light.ttf');
  }